<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>


    <style>
        html {
            padding: 50px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Battery Monitoring System</h1>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>
    <a onclick="getdata()" class="btn btn-danger btn-sm">refresh data</a>
    <a href="/dashboard" class="btn btn-danger btn-sm">Add data</a>
    <div id="content" class="table-responsive">
        <table class="table table-bordered table-first-center table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">device name</th>
                <th scope="col">voltage</th>
                <th scope="col">property</th>
                <th scope="col">status</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%= (i + 1) %></td>
                    <td><input id="test<%=i%>" value="<%= data[i].device %>" onclick="logData(<%=i%>)" readonly/></td>
                    <td><%= data[i].voltage %></td>
                    <td><%= data[i].prob %></td>
                    <td><%= data[i].status %></td>
                    <td><%= data[i].date %></td>
                    <td><button id="del<%= data[i].device %>" class="btn btn-danger btn-sm" onclick="deleteTypeData('<%= data[i].device %>')">Delete</button></td>
                </tr>
            <% }

            }else{ %>
                <tr>
                    <td colspan="5">No Data</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div>

<script>
    setInterval(() => {
        getdata();
    }, 5000)

    function getdata() {
        $.ajax({

            url: "/item",
            type: "get",
            success: function (res) {
                console.log("res", res)
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }

        });

    }

    function deleteTypeData(device) {
        console.log("device.device", device)
        $.ajax({
            url: "/devices_type/" + device,
            type: 'DELETE',
            success: function (res) {

                window.location.reload();
                return false;
            },
            error: function (xhr, status, error) {

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

    function logData(i) {
        console.log("aaa", $("#test" + i).val())
        let data = {device: $("#test" + i).val()}
        $.ajax({

            url: "/log",
            type: "post",
            data: data,
            success: function (res) {
                console.log("res", res)
                window.location.replace("http://localhost:8080/detail_device");
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }

        });
    }
</script>
